# Environment variables and credentials
.env
*.env
*credentials*
*password*


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Backup files
*.bak
*~
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
.env

#dirs
docs/